/*************************/
/* _header.scss - Header */
/*************************/

/* ------------------ */
/* NAVBAR (BOOTSTRAP) */
/* ------------------ */
.navbar__estilos {
	background-color: $colorATLVerde;

	&--tienda {
		background-color: $colorATLVerde;
		position: sticky;
		top: 66px;
	}
}

.nav-link {
	background-color: $colorATLVerde;
	border: none;
	color: #ffffff;

	&:hover {
		opacity: 0.7;
		transition: all 0.5s;
	}
}
